* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffde2a;
    font-family: Poppins;
}

.wrapper {
    background: #fff;
    width: 50%;
    margin: 0 auto;
    margin-top: 12%;
}

.header {
    padding: 16px;
    letter-spacing: 2px;
    background: #262626;
    border-bottom: 1px solid #000;
    cursor: pointer;
    position: relative;
    user-select: none;
    color: #fff;
}

.main-text {
    padding: 16px;
    line-height: 24px;
    display: none;
}

.header span {
    position: absolute;
    right: 20px;
}

.active {
    display: black;
}